<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-required-libraries" data-toc-modified-id="Import-all-required-libraries-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Import all required libraries</a></span></li><li><span><a href="#Import-data-set" data-toc-modified-id="Import-data-set-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Import data set</a></span></li><li><span><a href="#Print-first-10-rows-of-pokemon" data-toc-modified-id="Print-first-10-rows-of-pokemon-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Print first 10 rows of <code>pokemon</code></a></span></li><li><span><a href="#Obtain-the-distinct-values-across-Type-1-and-Type-2" data-toc-modified-id="Obtain-the-distinct-values-across-Type-1-and-Type-2-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>Obtain the distinct values across <code>Type 1</code> and <code>Type 2</code></a></span></li><li><span><a href="#Cleanup-Name-that-contain-&quot;Mega&quot;" data-toc-modified-id="Cleanup-Name-that-contain-&quot;Mega&quot;-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>Cleanup <code>Name</code> that contain "Mega"</a></span></li><li><span><a href="#Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense" data-toc-modified-id="Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>Create a new column called <code>A/D Ratio</code> whose value equals to <code>Attack</code> devided by <code>Defense</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-highest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-highest-A/D-Ratio-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>Identify the pokemon with the highest <code>A/D Ratio</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-lowest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-lowest-A/D-Ratio-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>Identify the pokemon with the lowest A/D Ratio</a></span></li><li><span><a href="#Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2." data-toc-modified-id="Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2.-1.0.9"><span class="toc-item-num">1.0.9&nbsp;&nbsp;</span>Create a new column called <code>Combo Type</code> whose value combines <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5" data-toc-modified-id="Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5-1.0.10"><span class="toc-item-num">1.0.10&nbsp;&nbsp;</span>Identify the pokemons whose <code>A/D Ratio</code> are among the top 5</a></span></li><li><span><a href="#For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values." data-toc-modified-id="For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values.-1.0.11"><span class="toc-item-num">1.0.11&nbsp;&nbsp;</span>For the 5 pokemons printed above, aggregate <code>Combo Type</code> and use a list to store the unique values.</a></span></li><li><span><a href="#For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons." data-toc-modified-id="For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons.-1.0.12"><span class="toc-item-num">1.0.12&nbsp;&nbsp;</span>For each of the <code>Combo Type</code> values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.</a></span></li></ul></li></ul></li></ul></div>

# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [7]:
# import libraries
import numpy as np
import pandas as pd
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [8]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [10]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [11]:
# enter your code here
df_type1=pokemon['Type 1']
df_type2=pokemon['Type 2']
arr1=pd.concat([df_type1,df_type2]).unique()
arr1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', nan], dtype=object)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [12]:
# enter your code here
pokemon = pokemon.replace(to_replace='(.*)Mega', value='Mega', regex=True)   #sacado de aquí https://www.geeksforgeeks.org/replace-values-in-pandas-dataframe-using-regex/

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [13]:
# enter your code here
pokemon["A/D Ratio"]=(pokemon['Attack']/pokemon['Defense'])

### Identify the pokemon with the highest `A/D Ratio`

In [14]:
# enter your code here
#pokemon.loc[pokemon['A/D Ratio'].idxmax()]
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()]['Name']

429    DeoxysAttack Forme
Name: Name, dtype: object

### Identify the pokemon with the lowest A/D Ratio

In [15]:
# enter your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()]['Name']

230    Shuckle
Name: Name, dtype: object

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [16]:
# enter your code here


'''webs consultadas:
    -------------------------
    np.where() => https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/
    concatenar => https://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-pandas-dataframe
    si es Nan => https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/
    -------------------------'''
pokemon["Combo Type"]=np.where(pokemon['Type 2'].isnull(), pokemon['Type 1'], pokemon['Type 1'] +'-'+ pokemon['Type 2'])

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [17]:
# enter your code here
pokemon.sort_values('A/D Ratio', ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [51]:
# enter your code here
list_combotype=pokemon.sort_values('A/D Ratio', ascending=False).head(5)['Combo Type'].unique().tolist()
list_combotype

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [126]:
num_columns=[]
for col in pokemon.columns:
    if pokemon[col].dtype=='int64' or pokemon[col].dtype=='float64':
        num_columns.append(col)
    else:
        pass
        
num_columns

['#',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'A/D Ratio']

In [127]:
lists_lists=[]


for i in list_combotype:
    list_new=[i]
    for col in num_columns:
        list_new.append(pokemon[pokemon['Combo Type']==i][col].mean())
    lists_lists.append(list_new)
                       
num_columns.insert(0,'Combo Type')


array=np.array(lists_lists)
Top_combotype=pd.DataFrame(array,columns=num_columns)
Top_combotype

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
0,Psychic,381.9736842105263,464.55263157894734,72.55263157894737,64.94736842105263,67.23684210526316,98.55263157894737,82.39473684210526,78.86842105263158,3.3421052631578947,1.1641960075065096
1,Water-Dark,347.6666666666667,493.8333333333333,69.16666666666667,120.0,65.16666666666667,88.83333333333333,63.5,87.16666666666667,3.1666666666666665,2.2919489170445666
2,Bug-Poison,199.16666666666666,347.9166666666667,53.75,68.33333333333333,58.083333333333336,42.5,59.333333333333336,65.91666666666667,2.3333333333333335,1.3159885771316928
3,Rock,410.1111111111111,409.44444444444446,67.11111111111111,103.33333333333333,107.22222222222223,40.55555555555556,58.333333333333336,32.888888888888886,3.888888888888889,1.2600909215022824